#Ignore All
/*

#Except:
# Source Files
!/src

# License File
!/LICENSE

# GitHub Files
!.gitignore
!/*.md

# Gradle
!/build.gradle
!/build.properties
!/settings.gradle
!/gradle.properties
!/gradlew*
!/gradle